*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    text-align: center;
}
.header{
    background-color: rgb(31, 31, 31);
    color: white;
}
.nav-right h1{
    font-size: 18px;
    display: flex;
    align-self: center;
}
.start{
    background-color: rgb(103, 163, 103);
    color: white;
    height: 600px;
} 
.portfolio{
    background-color: white;
    color: black;
    margin: 25px;
}
img{
    width: 100%;
    border-radius: 15px 15px;
}
