*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
.header{
    background-color: rgb(49, 49, 49);
}
nav{
    background-color: rgb(49, 49, 49);
}
.nav-right h1{
    font-size: 18px;
    display: flex;
    align-self: center;
}
.avatar{
    width: 200px;
    height: 200px;
}
.start{
    background-color: rgb(103, 163, 103);
    color: white;
} 
.portfolio{
    background-color: white;
    color: black;
    margin: 25px;
}
img{
    width: 100%;
    border-radius: 15px 15px;
}
.form-control{
    border: none;
    border-bottom: 1px solid black;
}
.message{
    width: 100%;
    height: 100px;
}
.footer{
    background-color: rgb(83, 83, 83);
    margin-top: 5px;
    color: white;
    font-size: 0.7rem;
}
i{
    font-size: 30px;
}
a{
    text-decoration: none;
    color: white;
}
.bottom_footer{
    background-color: rgb(49, 49, 49);

}